.redpen-red {
  color: #a70c00;
}

.redpen-error-list li {
  cursor: help;
}

.redpen-error-message {
  color: #a70c00;
}

.redpen-error {
  border-bottom: 1px dotted #a70c00;
}

.redpen-error-validator {
  display: inline-block;
  padding: 1px;
  margin-left: 2px;
  font-size: 9px;
  color: #aaa;
  vertical-align: middle;
}

.redpen-validators i {
  color: #1C6100;
}

.redpen-validators li:hover {
  background: #eee;
}

.redpen-validator-properties {
  cursor: pointer;
}

.redpen-validator-properties {
  float: right;
}
