.redpen-red {
  color: #a70c00;
}

.redpen-error-list li {
  cursor: help;
}

.redpen-error-message {
  color: #a70c00;
}

.redpen-error {
  border-bottom: 1px dotted #a70c00;
}

.redpen-error-validator {
  display: inline-block;
  padding: 1px;
  margin-left: 2px;
  font-size: 9px;
  color: #aaa;
  vertical-align: middle;
}

.redpen-config-column {
  float: left;
  width: 50%;
  min-width: 400px;
  box-sizing: border-box;
}

.redpen-config-footer {
  clear: both;
}

.redpen-validators i {
  color: #1C6100;
}

.redpen-validators li:hover, .redpen-symboltable tbody tr:hover {
  background: #eee;
}

.redpen-validator-properties {
  cursor: pointer;
}

.redpen-validator-properties {
  float: right;
  margin-right: 2em;
}

.redpen-symboltable {
  width: 100%;
  margin-top: -2px;
}

.redpen-symboltable th {
  vertical-align: top;
  text-align: left;
}
