button.redpen {
  background: red !important;
  color: white !important;
}

.redpen-red {
  color: #a70c00;
}

.redpen-error-list li {
  cursor: help;
}

.redpen-error-message {
  color: #a70c00;
}

.redpen-error-validator {
  display: inline-block;
  padding: 1px;
  margin-left: 2px;
  font-size: 9px;
  color: #aaa;
  vertical-align: middle;
}

